@import url(../../Resources/fonts/Acme-Regular.ttf);
@import url(../../Resources/fonts/BalooChettan-Regular.ttf);
@import url(../../Resources/fonts/Aladin/Aladin-Regular.ttf);
@import url(../../Resources/fonts/Baloo/Baloo-Regular.ttf);
@import url(../../Resources/fonts/Bangers/Bangers-Regular.ttf);
@import url(../../Resources/fonts/Carme/Carme-Regular.ttf);
@import url(../../Resources/fonts/Catamaran/Catamaran-Light.ttf);
@import url(../../Resources/fonts/Comfortaa/Comfortaa[wght].ttf);
@import url(../../Resources/fonts/Concert_One/ConcertOne-Regular.ttf);
@import url(../../Resources/fonts/Exo/Exo-Light.ttf);
@import url(../../Resources/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
@import url(../../Resources/fonts/Iceberg/Iceberg-Regular.ttf);
@import url(../../Resources/fonts/Itim/Itim-Regular.ttf);
@import url(../../Resources/fonts/Jua/Jua-Regular.ttf);
@import url(../../Resources/fonts/Kosugi_Maru/KosugiMaru-Regular.ttf);
.settings.profile-picture{
    display:block;
    width:120px;
    height:120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid  #ffffff;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.685);
    background-color: #8a8a8a;
    text-align: center;
    object-fit: cover;
    
}
.basic-info{

}
.edit{
  padding: 22px;
  color: rgb(54, 55, 56)
}
.edit:hover{
  color:rgb(0, 0, 0);
  cursor: pointer;
}

.coverSample{
  width: 100%;
  height:100px;
  background-image: url(../../Resources/Backgrounds/stars.jpg);
  background-blend-mode: color-dodge;

  background-color: #1E2328;
  border-radius: 10px;
  background-size: cover;
  padding: 25px;
  color: whitesmoke;
  font-family:Jua-Regular;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.setting-profile-page{
  padding:0px
}
.profileheader{
  background-image: url(../../Resources/Backgrounds/stars.jpg);
  background-blend-mode: color-dodge;
  
  background-size: cover;
  background-color: #1E2328;
  padding: 25px;
  color: whitesmoke;
  font-family:Jua-Regular;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.settings.line{
 -webkit-tap-highlight-color:transparent;
 display: block;
width: 50%;
 border-bottom: 1px solid rgba(14,19,24,.15);
  margin: 7px 0;
}
.center{
  display:block;
  overflow: hidden;
  margin: 0 auto;
  border: none;
  text-align: center;
}
.colorsettings .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 2px;
  background-size: cover; }
.colorsettings .theme.selected {
  border: 2px solid #00c7ff; }
.colorsettings .theme.default-theme {
      background: linear-gradient(100deg,#ffecd2,#fcb69f);
  background: #1E2328; }
.colorsettings .theme.chiller-theme {
  background: #374140; }
.colorsettings .theme.legacy-theme {
  background: #2e333c; }
.colorsettings .theme.ice-theme {
  background: #3a4d56; }
.colorsettings .theme.cool-theme {
  background: #46454c; }
.colorsettings .theme.light-theme {
  background: #ececec; }
  .colorsettings .theme.warm-flame {
    background: linear-gradient(100deg,#ff9a96,#fad0c4);
    background: -moz-box-shadow(100deg,#ff9a96,#fad0c4);
    background: -ms-box-shadow(100deg,#ff9a96,#fad0c4);
    background: -o-box-shadow(100deg,#ff9a96,#fad0c4);
    background: -webkit-gradient(100deg,#ff9a96,#fad0c4);

  }
  .colorsettings .theme.juicy-peach {
    background: linear-gradient(100deg,#ffecd2,#fcb69f);
    background: -moz-box-shadow(100deg,#ffecd2,#fcb69f);
    background: -ms-box-shadow(100deg,#ffecd2,#fcb69f);
    background: -o-box-shadow(100deg,#ffecd2,#fcb69f);
    background: -webkit-gradient(100deg,#ffecd2,#fcb69f);

  }
  .colorsettings .theme.lady-lips {
    background: linear-gradient(100deg,#ff9a9e,#fecfef);
    background: -moz-box-shadow(100deg,#ff9a9e,#fecfef);
    background: -ms-box-shadow(100deg,#ff9a9e,#fecfef);
    background: -o-box-shadow(100deg,#ff9a9e,#fecfef);
    background: -webkit-gradient(100deg,#ff9a9e,#fecfef);;

  }
  .colorsettings .theme.winter-neva {
    background: linear-gradient(100deg,#a1c4fd,#c2e9fb);
    background: -moz-box-shadow(100deg,#a1c4fd,#c2e9fb);
    background: -ms-box-shadow(100deg,#a1c4fd,#c2e9fb);
    background: -o-box-shadow(100deg,#a1c4fd,#c2e9fb);
    background: -webkit-gradient(100deg,#a1c4fd,#c2e9fb);

  }
  .colorsettings .theme.heavy-rain {
    background: linear-gradient(100deg,#cfd9df,#e2ebf0);
    background: -moz-box-shadow(100deg,#cfd9df,#e2ebf0);
    background: -ms-box-shadow(100deg,#cfd9df,#e2ebf0);
    background: -o-box-shadow(100deg,#cfd9df,#e2ebf0);
    background: -webkit-gradient(100deg,#cfd9df,#e2ebf0);

  }
  .colorsettings .theme.plum-plate {
    background: linear-gradient(100deg,#667eea,#764ba2);
    background: -moz-box-shadow(100deg,#667eea,#764ba2);
    background: -ms-box-shadow(100deg,#667eea,#764ba2);
    background: -o-box-shadow(100deg,#667eea,#764ba2);
    background: -webkit-gradient(100deg,#667eea,#764ba2);

  }
  .colorsettings .theme.fly-high {
    background: linear-gradient(90deg,#48cdef,#6f86d6);
    background: -moz-box-shadow(90deg,#48cdef,#6f86d6);
    background: -ms-box-shadow(90deg,#48cdef,#6f86d6);
    background: -o-box-shadow(90deg,#48cdef,#6f86d6);
    background: -webkit-gradient(90deg,#48cdef,#6f86d6);

  }
  .colorsettings .theme.strong-bliss {
    background: linear-gradient(100deg,#e65d4b,#ff1563);
    background: -moz-box-shadow(100deg,#e65d4b,#ff1563);
    background: -ms-box-shadow(100deg,#e65d4b,#ff1563);
    background: -o-box-shadow(100deg,#e65d4b,#ff1563);
    background: -webkit-gradient(100deg#e65d4b,#ff1563);

  }
  .colorsettings .theme.premium-dark{
    background: linear-gradient(100deg,#434343,#000000);
    background: -moz-box-shadow(100deg,#434343,#000000);
    background: -ms-box-shadow(100deg,#434343,#000000);
    background: -o-box-shadow(100deg,#434343,#000000);
    background: -webkit-gradient(100deg#434343,#000000);

  }
  .colorsettings .theme.angle-care{
    background: linear-gradient(100deg,#29323c,#485563);
    background: -moz-box-shadow(100deg,#29323c,#485563);
    background: -ms-box-shadow(100deg,#29323c,#485563);
    background: -o-box-shadow(100deg,#29323c,#485563);
    background: -webkit-gradient(100deg#29323c,#485563);

  }
/*profile pic*/
.settings.profile-btn{
  display:block;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: none;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.685);
  background-color: transparent;
  text-align: center;
}
.settings.profile-picture:hover{
    cursor: pointer;
}

.popup.profile-picture{

    display:block;
    width:120px;
    height:120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid  #ffffff;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.685);
    background-color: #8a8a8a;
    text-align: center;
}

.piccontainer {
    position: relative;
    padding: 10px;
    margin: 15px;
    text-align: center;
  }
  
 
  
  /* Style the button and place it in the colorsettings of the container/image */
 
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    
    text-align: center;
  }
  #profileImg{
    height:100%;
    width: 100%;
    object-fit: cover;
  }
  #imgbtn {
    border: 2px solid rgb(127, 207, 120);
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
  }
  #imgbtn:hover{
    background-color: rgba(8, 8, 8, 0.164);cursor: pointer;
  }






@import url("https://fonts.googleapis.com/css?family=Dax:400,900");


.colorsettings {
  width: 100%;
  text-align: center;
  /* Made by */
}
.colorsettings h1 {
  font-family: "Dax", sans-serif;
  color: #fff;
}
.colorsettings input[type=radio] {
  display: none;
}
.colorsettings input[type=radio]:checked{
  border: 2px solid #00c7ff;
}
.colorsettings input[type=radio]:checked + .box {
  border: 2px solid #00c7ff;
  
}
.colorsettings input[type=radio]:checked + .box span:before {
  border:0;
  transform: translateY(0px);
  opacity: 1;
}
.colorsettings .box {
 
  text-align: center;
  cursor: pointer;
  
}
.colorsettings .box:active {
  transform: translateY(10px);
}
.colorsettings .box span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
.colorsettings .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.colorsettings .front-end span:before {
  content: "";
}
.colorsettings .back-end span:before {
  content: "";
}
.colorsettings p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
.colorsettings p a {
  text-decoration: underline;
  font-weight: bold;
  color: #FFF;
}
.colorsettings p span:after {
  content: "";
  font-family: FontAwesome;
  color: yellow;
}



.imgsettings {
  width: 100%;
  text-align: center;

  /* Made by */
}
.imgsettings .theme {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: inline-block;
  margin: 2px;
  background-size: cover; }
.imgsettings .theme.selected {
  border: 2px solid #ff00bf; }
  .imgsettings .theme.bg0 {
    background-image: url(../../Resources/icons/remove.png) }
.imgsettings .theme.bg1 {
  
  background-image: url(../../Resources/Backgrounds/stars.jpg) }
.imgsettings .theme.bg2 {
  background-image: url(../../Resources/Backgrounds/15002.jpg) }
.imgsettings .theme.bg3 {
  background-image: url(../../Resources/Backgrounds/Abstract-Multicolor-Patterns.jpg) }
  .imgsettings .theme.bg4 {
    background-image: url(../../Resources/Backgrounds/hex-cover.png) }
    .imgsettings .theme.bg4 {
      background-image: url(../../Resources/Backgrounds/wooman-runner-geting-ready.jpg) }
      .imgsettings .theme.bg5 {
        background-image: url(../../Resources/Backgrounds/3-cover-letter-keys.jpg) }
        .imgsettings .theme.bg6 {
          background-image: url(../../Resources/Backgrounds/abstract2.jpg) }
          .imgsettings .theme.bg7 {
            background-image: url(../../Resources/Backgrounds/abstract-art-blur-1455986.jpg) }
            .imgsettings .theme.bg8 {
              background-image: url(../../Resources/Backgrounds/cards-cover.gif.6d2812d119af26877c7e7a26a6cef57f.gif) }
              .imgsettings .theme.bg9 {
                background-image: url(../../Resources/Backgrounds/lscape-blur.jpg) }
                .imgsettings .theme.bg10 {
                  background-image: url(../../Resources/Backgrounds/nature-design.jpg) }
                  .imgsettings .theme.bg11 {
                    background-image: url(../../Resources/Backgrounds/bball.jpeg) }
                    .imgsettings .theme.bg12 {
                      background-image: url(../../Resources/Backgrounds/fball.jpg) }
    .imgsettings .theme.bgAdd {
      background-image: url(../../Resources/icons/camera-ic.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

    
.imgsettings {
  width: 100%;
  text-align: center;
  /* Made by */
}
.imgsettings h1 {
  font-family: "Dax", sans-serif;
  color: #fff;
}
.imgsettings input[type=radio] {
  display: none;
}
.imgsettings input[type=radio]:checked{
  border: 2px solid #ff009d;
}
.imgsettings input[type=radio]:checked + .box2 {
  border: 2px solid #ff009d;
  
}
.imgsettings input[type=radio]:checked + .box2 span:before {
  border:0;
  transform: translateY(0px);
  opacity: 1;
}
.imgsettings .box2 {
 
  text-align: center;
  cursor: pointer;
  
}
.imgsettings .box2:active {
  transform: translateY(10px);
}
.imgsettings .box2 span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
.imgsettings .box2 span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.imgsettings .front-end span:before {
  content: "";
}
.imgsettings .back-end span:before {
  content: "";
}
.imgsettings p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
.imgsettings p a {
  text-decoration: underline;
  font-weight: bold;
  color: #FFF;
}
.imgsettings p span:after {
  content: "";
  font-family: FontAwesome;
  color: yellow;
}

#imgbtn1 {
  border: 2px solid rgb(127, 207, 120);
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
#imgbtn1:hover{
  color: rgba(8, 8, 8, 0.164);cursor: pointer;
}


   
.fxsettings {
  width: 70%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  
  /* Made by */
}
.fxsettings h1 {
  font-family: "Dax", sans-serif;
  color: #fff;
}
.fxsettings input[type=radio] {
  display: none;
}
.fxsettings input[type=radio]:checked{
  border: 2px solid #ffee00;
}
.fxsettings input[type=radio]:checked + .box2 {
  border: 2px solid #ffd900;
  
}
.fxsettings input[type=radio]:checked + .box2 span:before {
  border:0;
  transform: translateY(0px);
  opacity: 1;
}
.fxsettings .box2 {
 
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  width:20px;
  height: 20px;
  background-color: #1E2328;
  background-image: url(../../Resources/Backgrounds/stars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.fxsettings .box2:active {
  transform: translateY(10px);
}
.fxsettings .box2 span {
  position: absolute;
  transform: translate(0, 60px);
  
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
.fxsettings .box2 span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.fxsettings .front-end span:before {
  content: "";
}
.fxsettings .back-end span:before {
  content: "";
}
.fxsettings p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
.fxsettings p a {
  text-decoration: underline;
  font-weight: bold;
  color: #FFF;
}
.fxsettings p span:after {
  content: "";
  font-family: FontAwesome;
  color: yellow;
}
