@import url(../../Resources/fonts/Acme-Regular.ttf);
@import url(../../Resources/fonts/BalooChettan-Regular.ttf);
@import url(../../Resources/fonts/Aladin/Aladin-Regular.ttf);
@import url(../../Resources/fonts/Baloo/Baloo-Regular.ttf);
@import url(../../Resources/fonts/Bangers/Bangers-Regular.ttf);
@import url(../../Resources/fonts/Carme/Carme-Regular.ttf);
@import url(../../Resources/fonts/Catamaran/Catamaran-Light.ttf);
@import url(../../Resources/fonts/Comfortaa/Comfortaa[wght].ttf);
@import url(../../Resources/fonts/Concert_One/ConcertOne-Regular.ttf);
@import url(../../Resources/fonts/Exo/Exo-Light.ttf);
@import url(../../Resources/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
@import url(../../Resources/fonts/Iceberg/Iceberg-Regular.ttf);
@import url(../../Resources/fonts/Itim/Itim-Regular.ttf);
@import url(../../Resources/fonts/Jua/Jua-Regular.ttf);
@import url(../../Resources/fonts/Kosugi_Maru/KosugiMaru-Regular.ttf);
.settings.profile-picture{
    display:block;
    width:120px;
    height:120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid  #ffffff;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.685);
    background-color: #8a8a8a;
    text-align: center;
    
}
.coverSample{
  width: 100%;
  height:100px;
  background-image: url(../../Resources/Backgrounds/stars.jpg);
  background-blend-mode: color-dodge;
  background-color: #1E2328;
  border-radius: 10px;
  background-size: cover;
  padding: 25px;
  color: whitesmoke;
  font-family:Jua-Regular;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.setting-profile-page{
  padding:0px
}
.profileheader{
  background-image: url(../../Resources/Backgrounds/stars.jpg);
  background-blend-mode: color-dodge;
  
  
  background-color: #1E2328;
  padding: 25px;
  color: whitesmoke;
  font-family:Jua-Regular;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.settings.line{
 -webkit-tap-highlight-color:transparent;
 display: block;
width: 50%;
 border-bottom: 1px solid rgba(14,19,24,.15);
  margin: 7px 0;
}
.center{
  display:block;
  overflow: hidden;
  margin: 0 auto;
  border: none;
  text-align: center;
}
.colorsettings .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 2px;
  background-size: cover; }
.colorsettings.theme.selected {
  border: 2px solid #00c7ff; }
.colorsettings.theme.default-theme {
  background: #1E2328; }
.colorsettings.theme.chiller-theme {
  background: #374140; }
.colorsettings.theme.legacy-theme {
  background: #2e333c; }
.colorsettings.theme.ice-theme {
  background: #3a4d56; }
.colorsettings.theme.cool-theme {
  background: #46454c; }
.colorsettings.theme.light-theme {
  background: #ececec; }
/*profile pic*/
.settings.profile-btn{
  display:block;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: none;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.685);
  background-color: transparent;
  text-align: center;
}
.settings.profile-picture:hover{
    cursor: pointer;
}

.popup.profile-picture{

    display:block;
    width:120px;
    height:120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid  #ffffff;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.685);
    background-color: #8a8a8a;
    text-align: center;
}

.piccontainer {
    position: relative;
    padding: 10px;
    margin: 15px;
    text-align: center;
  }
  
 
  
  /* Style the button and place it in the colorsettings of the container/image */
 
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    
    text-align: center;
  }
  #profileImg{
    height:100%;
    width: 100%;
    object-fit: cover;
  }
  #imgbtn {
    border: 2px solid rgb(127, 207, 120);
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
  }
  #imgbtn:hover{
    background-color: rgba(8, 8, 8, 0.164);cursor: pointer;
  }






@import url("https://fonts.googleapis.com/css?family=Dax:400,900");


.colorsettings {
  width: 100%;
  text-align: center;
  /* Made by */
}
.colorsettings h1 {
  font-family: "Dax", sans-serif;
  color: #fff;
}
.colorsettings input[type=radio] {
  display: none;
}
.colorsettings input[type=radio]:checked{
  border: 2px solid #00c7ff;
}
.colorsettings input[type=radio]:checked + .box {
  border: 2px solid #00c7ff;
  
}
.colorsettings input[type=radio]:checked + .box span:before {
  border:0;
  transform: translateY(0px);
  opacity: 1;
}
.colorsettings .box {
 
  text-align: center;
  cursor: pointer;
  
}
.colorsettings .box:active {
  transform: translateY(10px);
}
.colorsettings .box span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
.colorsettings .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.colorsettings .front-end span:before {
  content: "";
}
.colorsettings .back-end span:before {
  content: "";
}
.colorsettings p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
.colorsettings p a {
  text-decoration: underline;
  font-weight: bold;
  color: #FFF;
}
.colorsettings p span:after {
  content: "";
  font-family: FontAwesome;
  color: yellow;
}



.imgsettings {
  width: 100%;
  text-align: center;

  /* Made by */
}
.imgsettings .theme {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: inline-block;
  margin: 2px;
  background-size: cover; }
.imgsettings .theme.selected {
  border: 2px solid #ff00bf; }
.imgsettings .theme.bg1 {
  
  background-image: url(../../Resources/Backgrounds/stars.jpg) }
.imgsettings .theme.bg2 {
  background-image: url(../../img/bg1.jpg) }
.imgsettings .theme.bg3 {
  background-image: url(../../img/bg3.jpg) }
  .imgsettings .theme.bg4 {
    background-image: url(../../img/bg4.jpg) }

    
.imgsettings {
  width: 100%;
  text-align: center;
  /* Made by */
}
.imgsettings h1 {
  font-family: "Dax", sans-serif;
  color: #fff;
}
.imgsettings input[type=radio] {
  display: none;
}
.imgsettings input[type=radio]:checked{
  border: 2px solid #00c7ff;
}
.imgsettings input[type=radio]:checked + .box2 {
  border: 2px solid #00c7ff;
  
}
.imgsettings input[type=radio]:checked + .box2 span:before {
  border:0;
  transform: translateY(0px);
  opacity: 1;
}
.imgsettings .box2 {
 
  text-align: center;
  cursor: pointer;
  
}
.imgsettings .box2:active {
  transform: translateY(10px);
}
.imgsettings .box2 span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
.imgsettings .box2 span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.imgsettings .front-end span:before {
  content: "";
}
.imgsettings .back-end span:before {
  content: "";
}
.imgsettings p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
.imgsettings p a {
  text-decoration: underline;
  font-weight: bold;
  color: #FFF;
}
.imgsettings p span:after {
  content: "";
  font-family: FontAwesome;
  color: yellow;
}
